<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.msiter.ProjectTemplate</string>
    <key>Ancestors</key>
    <array>
      <string>com.apple.dt.unit.storyboardApplication</string>
      <string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
    <key>SortOrder</key>
    <integer>1</integer>
    <key>Options</key>
    <array>
      <dict>
        <key>Identifier</key>
        <string>RxSwift</string>
        <key>Name</key>
        <string>install rxswift</string>
        <key>Description</key>
        <string>Adds rxSwift rxCocoa as a CocoaPod</string>
        <key>Type</key>
        <string>checkbox</string>
        <key>Default</key>
        <string>true</string>
        <key>NotPersisted</key>
        <true/>
        <key>Units</key>
        <dict>
          <key>true</key>
          <dict>
            <key>Definitions</key>
            <dict>
              <key>../Podfile:RxSwift</key>
              <string>
    ## RxSwift
    pod 'RxSwift'</string>
              <key>../Podfile:RxCocoa</key>
              <string>    pod 'RxCocoa'</string>
            </dict>
            <key>Nodes</key>
            <array>
              <string>../Podfile:RxSwift</string>
              <string>../Podfile:RxCocoa</string>
            </array>
          </dict>
        </dict>
      </dict>
      <dict>
        <key>Identifier</key>
        <string>RxSwiftCommunity</string>
        <key>Name</key>
        <string>install RxSwiftCommunity</string>
        <key>Description</key>
        <string>Adds RxSwiftCommunity as a CocoaPod</string>
        <key>Type</key>
        <string>checkbox</string>
        <key>Default</key>
        <string>true</string>
        <key>NotPersisted</key>
        <true/>
        <key>Units</key>
        <dict>
          <key>true</key>
          <dict>
            <key>Definitions</key>
            <dict>
              <key>../Podfile:RxOptional</key>
              <string>
    ## RxSwiftCommunity
    pod 'RxOptional'</string>
              <key>../Podfile:RxGesture</key>
              <string>    pod 'RxGesture'</string>
              <key>../Podfile:RxSwiftExt</key>
              <string>    pod 'RxSwiftExt'</string>
            </dict>
            <key>Nodes</key>
            <array>
              <string>../Podfile:RxOptional</string>
              <string>../Podfile:RxGesture</string>
              <string>../Podfile:RxSwiftExt</string>
            </array>
          </dict>
        </dict>
      </dict>
      <dict>
        <key>Identifier</key>
        <string>moya</string>
        <key>Name</key>
        <string>install Moya</string>
        <key>Description</key>
        <string>Adds moya as a CocoaPod</string>
        <key>Type</key>
        <string>checkbox</string>
        <key>Default</key>
        <string>false</string>
        <key>NotPersisted</key>
        <true/>
        <key>Units</key>
        <dict>
          <key>true</key>
          <dict>
            <key>Definitions</key>
            <dict>
              <key>../Podfile:Moya</key>
              <string>
    ## Moya
    pod 'Moya/RxSwift'</string>
              <key>../Podfile:SwiftyJSON</key>
              <string>pod 'SwiftyJSON'</string>
            </dict>
            <key>Nodes</key>
            <array>
              <string>../Podfile:Moya</string>
              <string>../Podfile:SwiftyJSON</string>
            </array>
          </dict>
        </dict>
      </dict>
      <dict>
        <key>Identifier</key>
        <string>realm</string>
        <key>Name</key>
        <string>install realm</string>
        <key>Description</key>
        <string>Adds rxSwift rxCocoa as a CocoaPod</string>
        <key>Type</key>
        <string>checkbox</string>
        <key>Default</key>
        <string>false</string>
        <key>NotPersisted</key>
        <true/>
        <key>Units</key>
        <dict>
          <key>true</key>
          <dict>
            <key>Definitions</key>
            <dict>
              <key>../Podfile:Realm</key>
              <string>
    ## Realm
    pod 'Realm'</string>
              <key>../Podfile:RealmSwift</key>
              <string>    pod 'RealmSwift'</string>
              <key>../Podfile:RxRealm</key>
              <string>    pod 'RxRealm'</string>
            </dict>
            <key>Nodes</key>
            <array>
              <string>../Podfile:Realm</string>
              <string>../Podfile:RealmSwift</string>
              <string>../Podfile:RxRealm</string>
            </array>
          </dict>
        </dict>
      </dict>
    </array>
    <key>Definitions</key>
    <dict>
      <key>Base.lproj/Main.storyboard</key>
      <dict>
        <key>Path</key>
        <string>Main.storyboard</string>
        <key>SortOrder</key>
        <integer>99</integer>
      </dict>
      <key>../Podfile</key>
      <dict>
        <key>Beginning</key>
        <string>#source  https://github.com/CocoaPods/Specs.git
# Uncomment the next line to define a global platform for your project
#platform: ios,'9.0'


target '___PACKAGENAME___' do 
    # Comment the next line if you're not using Swift and don't want to use dynamic frameworks
    use_frameworks!</string>
        <key>End</key>
        <string>end</string>
        <key>Group</key>
        <array>
          <string>Supporting Files</string>
        </array>
      </dict>
      <key>../.gitignore</key>
      <dict>
        <key>Path</key>
        <string>.gitignore</string>
        <key>Group</key>
        <array>
          <string>Supporting Files</string>
        </array>
      </dict>
      <key>resources/extension/Array+basic.swift</key>
      <dict>
        <key>Path</key>
        <string>extension/Array+basic.swift</string>
        <key>Group</key>
        <array>
          <string>resources</string>
          <string>extension</string>
        </array>
      </dict>
      <key>resources/extension/CALayer+basic.swift</key>
      <dict>
        <key>Path</key>
        <string>extension/CALayer+basic.swift</string>
        <key>Group</key>
        <array>
          <string>resources</string>
          <string>extension</string>
        </array>
      </dict>
      <key>resources/extension/Collection+basic.swift</key>
      <dict>
        <key>Path</key>
        <string>extension/Collection+basic.swift</string>
        <key>Group</key>
        <array>
          <string>resources</string>
          <string>extension</string>
        </array>
      </dict>
      <key>resources/extension/Collection+optional.swift</key>
      <dict>
        <key>Path</key>
        <string>extension/Collection+optional.swift</string>
        <key>Group</key>
        <array>
          <string>resources</string>
          <string>extension</string>
        </array>
      </dict>
      <key>resources/extension/Dictionary+basic.swift</key>
      <dict>
        <key>Path</key>
        <string>extension/Dictionary+basic.swift</string>
        <key>Group</key>
        <array>
          <string>resources</string>
          <string>extension</string>
        </array>
      </dict>
      <key>resources/extension/NSObject+basic.swift</key>
      <dict>
        <key>Path</key>
        <string>extension/NSObject+basic.swift</string>
        <key>Group</key>
        <array>
          <string>resources</string>
          <string>extension</string>
        </array>
      </dict>
      <key>resources/extension/Number+convert.swift</key>
      <dict>
        <key>Path</key>
        <string>extension/Number+convert.swift</string>
        <key>Group</key>
        <array>
          <string>resources</string>
          <string>extension</string>
        </array>
      </dict>
      <key>resources/extension/String+basic.swift</key>
      <dict>
        <key>Path</key>
        <string>extension/String+basic.swift</string>
        <key>Group</key>
        <array>
          <string>resources</string>
          <string>extension</string>
        </array>
      </dict>
      <key>resources/extension/UIButton+basic.swift</key>
      <dict>
        <key>Path</key>
        <string>extension/UIButton+basic.swift</string>
        <key>Group</key>
        <array>
          <string>resources</string>
          <string>extension</string>
        </array>
      </dict>
      <key>resources/extension/UIColor+basic.swift</key>
      <dict>
        <key>Path</key>
        <string>extension/UIColor+basic.swift</string>
        <key>Group</key>
        <array>
          <string>resources</string>
          <string>extension</string>
        </array>
      </dict>
      <key>resources/extension/UIFont+basic.swift</key>
      <dict>
        <key>Path</key>
        <string>extension/UIFont+basic.swift</string>
        <key>Group</key>
        <array>
          <string>resources</string>
          <string>extension</string>
        </array>
      </dict>
      <key>resources/extension/UIImage+basic.swift</key>
      <dict>
        <key>Path</key>
        <string>extension/UIImage+basic.swift</string>
        <key>Group</key>
        <array>
          <string>resources</string>
          <string>extension</string>
        </array>
      </dict>
      <key>resources/extension/UITableView+basic.swift</key>
      <dict>
        <key>Path</key>
        <string>extension/UITableView+basic.swift</string>
        <key>Group</key>
        <array>
          <string>resources</string>
          <string>extension</string>
        </array>
      </dict>
      <key>resources/extension/UITextField+fixrightmodelspace.swift</key>
      <dict>
        <key>Path</key>
        <string>extension/UITextField+fixrightmodelspace.swift</string>
        <key>Group</key>
        <array>
          <string>resources</string>
          <string>extension</string>
        </array>
      </dict>
      <key>resources/extension/UITextFiled+basic.swift</key>
      <dict>
        <key>Path</key>
        <string>extension/UITextFiled+basic.swift</string>
        <key>Group</key>
        <array>
          <string>resources</string>
          <string>extension</string>
        </array>
      </dict>
      <key>resources/extension/UITextFiled+maxLength.swift</key>
      <dict>
        <key>Path</key>
        <string>extension/UITextFiled+maxLength.swift</string>
        <key>Group</key>
        <array>
          <string>resources</string>
          <string>extension</string>
        </array>
      </dict>
      <key>resources/extension/UITextInput+basic.swift</key>
      <dict>
        <key>Path</key>
        <string>extension/UITextInput+basic.swift</string>
        <key>Group</key>
        <array>
          <string>resources</string>
          <string>extension</string>
        </array>
      </dict>
      <key>resources/extension/UIView+basic.swift</key>
      <dict>
        <key>Path</key>
        <string>extension/UIView+basic.swift</string>
        <key>Group</key>
        <array>
          <string>resources</string>
          <string>extension</string>
        </array>
      </dict>
      <key>resources/extension/UIViewController+basic.swift</key>
      <dict>
        <key>Path</key>
        <string>extension/UIViewController+basic.swift</string>
        <key>Group</key>
        <array>
          <string>resources</string>
          <string>extension</string>
        </array>
      </dict>
      <key>resources/rx/example.swift</key>
      <dict>
        <key>Path</key>
        <string>rx/example.swift</string>
        <key>Group</key>
        <array>
          <string>resources</string>
          <string>rx</string>
        </array>
      </dict>
      <key>resources/util/example.swift</key>
      <dict>
        <key>Path</key>
        <string>util/example.swift</string>
        <key>Group</key>
        <array>
          <string>resources</string>
          <string>util</string>
        </array>
      </dict>
      <key>resources/viewControllers/example.swift</key>
      <dict>
        <key>Path</key>
        <string>viewControllers/example.swift</string>
        <key>Group</key>
        <array>
          <string>resources</string>
          <string>viewControllers</string>
        </array>
      </dict>
    </dict>
    <key>Nodes</key>
    <array>
      <string>../Podfile</string>
      <string>../.gitignore</string>
      <string>resources/extension/Array+basic.swift</string>
      <string>resources/extension/CALayer+basic.swift</string>
      <string>resources/extension/Collection+basic.swift</string>
      <string>resources/extension/Collection+optional.swift</string>
      <string>resources/extension/Dictionary+basic.swift</string>
      <string>resources/extension/NSObject+basic.swift</string>
      <string>resources/extension/Number+convert.swift</string>
      <string>resources/extension/String+basic.swift</string>
      <string>resources/extension/UIButton+basic.swift</string>
      <string>resources/extension/UIColor+basic.swift</string>
      <string>resources/extension/UIFont+basic.swift</string>
      <string>resources/extension/UIImage+basic.swift</string>
      <string>resources/extension/UITableView+basic.swift</string>
      <string>resources/extension/UITextField+fixrightmodelspace.swift</string>
      <string>resources/extension/UITextFiled+basic.swift</string>
      <string>resources/extension/UITextFiled+maxLength.swift</string>
      <string>resources/extension/UITextInput+basic.swift</string>
      <string>resources/extension/UIView+basic.swift</string>
      <string>resources/extension/UIViewController+basic.swift</string>
      <string>resources/rx/example.swift</string>
      <string>resources/util/example.swift</string>
      <string>resources/viewControllers/example.swift</string>
    </array>
  </dict>
</plist>